### Gothic times
You have a new project! Your boss has asked you to perform an analysis with a dataset of books. You have several tasks to complete. Your first task is to analyze Gothic fiction books.

The dataset books_gothic is in a wide format. Any analysis will require you to reshape the data into a long format. To that aim, you will melt your dataset. You will reshape the dataset using several variables as identifiers to decide which is the best format.

The books_gothic dataset is available for you. Make sure to examine it in the console!

i. Define a gothic_melted DataFrame by melting the books_gothic DataFrame, using only the title as an identifier variable.

In [ ]:
# Melt books_gothic using the title column as identifier 
gothic_melted = books_gothic.melt(id_vars='title')

# Print gothic_melted
print(gothic_melted)

ii. Melt the books_gothic DataFrame, now using the title, authors, and publisher columns as identifier variables.

In [ ]:
# Melt books_gothic using the title, authors, and publisher columns as identifier
print(books_gothic,'\n')
gothic_melted_new = books_gothic.melt(id_vars=['title','authors','publisher'])

# Print gothic_melted_new
print(gothic_melted_new)

### Rating is not everything
Your first exploration of the books_gothic dataset was successful. Now, your next task is to perform a more detailed analysis. You need to reshape your DataFrame again. This time, you don't want to use all of your variables.

To that aim, you will melt your DataFrame, taking several approaches using different columns as identifiers and value variables.

The same books_gothic dataset you used before is available for you. It contains data about the title, author, number_pages, rating, rating_count, and publisher of each book. Make sure to examine it in the console!

i. Define a new DataFrame by melting the publisher column using the title and authors columns as identifier variables.

In [ ]:
# Melt publisher column using title and authors as identifiers
publisher_melted = books_gothic.melt(id_vars=['title', 'authors'],value_vars='publisher')

# Print publisher_melted
print(publisher_melted)

ii. Melt the rating and rating_count columns of books_gothic DataFrame using the title column as an identifier variable.

In [ ]:
# Melt rating and rating_count columns using the title as identifier
rating_melted = books_gothic.melt(id_vars='title', 
                                  value_vars=['rating', 'rating_count'])

# Print rating_melted
print(rating_melted)

iii. Melt the rating and rating_count columns of book_gothic using the title and authors columns as identifier variables.

In [ ]:
# Melt rating and rating_count columns using title and authors as identifier
books_melted = books_gothic.melt(id_vars=['title','authors'], 
                                 value_vars=['rating','rating_count'])

# Print books_melted
print(books_melted)

### How is Frankenstein, Dorian Gray?
You are satisfied with the way you reshaped the books_gothic DataFrame, however, you would like to finish your work by naming the newly-created columns. This will help you clarify what the variables and values are.

You remember that .melt() allows you to do that. In order to achieve your goal, you will reshape your DataFrame in three steps.

The same books_gothic dataset you used before is available for you. It contains data about the title, author, number_pages, rating, rating_count, and publisher of each book. Make sure to examine it in the console!

i. Define a new books_ratings DataFrame by melting the rating and rating_count columns using the title, authors, and publisher as identifier variables.

In [ ]:
# Melt the rating and rating_count using title, authors and publisher as identifiers
books_ratings = books_gothic.melt(id_vars=['title','authors','publisher'],value_vars=['rating','rating_count'])

# Print books_ratings
print(books_ratings)

ii. Inside the .melt() call, assign the name 'feature' to the column that contains the variable names.

In [ ]:
# Assign the name feature to the new variable column
books_ratings = books_gothic.melt(id_vars=['title', 'authors', 'publisher'], 
                                  value_vars=['rating', 'rating_count'], 
                                  var_name='feature')

# Print books_ratings
print(books_ratings)

iii. Inside the .melt() call, assign the name 'number' to the resulting value column.

In [ ]:
# Assign the name number to the new column containing the values
books_ratings = books_gothic.melt(id_vars=['title', 'authors', 'publisher'], 
                                  value_vars=['rating', 'rating_count'], 
                                  var_name='feature', 
                                  value_name='number')

# Print books_ratings
print(books_ratings)

### The golden age
In this exercise, you'll continue working on the book project. Now, you'll analyze books from the Golden Age.

Upon inspection, you discovered that the dataset golden_age needs reshaping. You noticed that some column names start with the same prefix (stub names) and identified other columns to use as unique IDs.

For that reason, you'll reshape your DataFrame in several ways. Use the function wide_to_long() along with each instruction.

The golden_age dataset is available for you. It contains the title, authors, and data about the universal identifier ISBN and prefix for countries of each book.

i. Set title as the unique index. Extract the prefix from isbn10 and isbn13. Name the new variable created version.

In [ ]:
# Reshape wide to long using title as index and version as new name, and extracting isbn prefix
print(golden_age) 
isbn_long = pd.wide_to_long(golden_age, 
                    stubnames='isbn', 
                    i='title', 
                    j='version')

# Print isbn_long
print(isbn_long)

ii. Set title and authors as the index. Get the prefix from prefix10 and prefix13. Name the new variable version.

In [ ]:
# Reshape wide to long using title and authors as index and version as new name, and prefix as wide column prefix
print(golden_age)
prefix_long = pd.wide_to_long(golden_age, 
                      stubnames='prefix', 
                      i=['title', 'authors'], 
                      j='version')

# Print prefix_long
print(prefix_long)

iii. Set title and authors as unique indexes. Extract the prefixes isbn and prefix. Name the new variable version.

In [ ]:
# Reshape wide to long using title and authors as index and version as new name, and prefix and isbn as wide column prefixes
print(golden_age)
all_long = pd.wide_to_long(golden_age, 
                   stubnames=['isbn','prefix'], 
                   i=['title','authors'], 
                   j='version')

# Print all_long
print(all_long)

### Decrypting the code
You are doing a great job on the book project! Your boss encouraged you to do an analysis using books written by Dan Brown.

You explored the dataset books_brown and it needs reshaping. Again, you identified several columns to use as unique IDs and realized something different about the columns to group. Their name starts with a prefix, but this time, you identified a suffix and a separation element.

The books_brown dataset is available for you. It contains the title, authors, and data about language_code, language_name, publisher_code, and publisher_name of each book. Make sure to examine it in the console!

i. Reshape books_brown from wide to long format, using the columns author and title as unique indexes. Name 'code' the new column created from the columns starting with language and publisher. Don't forget to examine the printed output.

In [ ]:
# Reshape using author and title as index, code as new name and getting the prefix language and publisher
print(books_brown)
the_code_long = pd.wide_to_long(books_brown,stubnames=['language','publisher'],i=['author','title'],j='code')

# Print the_code_long
print(the_code_long)

ii. Inside the wide_to_long() call, specify an underscore as the separator between the variable names in the wide columns. Don't forget to examine the printed output.

In [ ]:
# Specify underscore as the character that separates the variable names
the_code_long = pd.wide_to_long(books_brown, 
                                stubnames=['language', 'publisher'], 
                                i=['author', 'title'], 
                                j='code', sep='_')

# Print the_code_long
print(the_code_long)

iii. Inside the wide_to_long() call, specify that the wide column names end in a word.

In [ ]:
# Specify that wide columns have a suffix containing words
print(books_brown)
the_code_long = pd.wide_to_long(books_brown, 
                                stubnames=['language', 'publisher'], 
                                i=['author', 'title'], 
                                j='code', 
                                sep='_', 
                                suffix='\w+')

# Print the_code_long
print(the_code_long)

### Time to read, Katniss!
It's almost time to finish working for the day. But first, you would like to do an analysis for fun. You will analyze another book dataset, this time with the Hunger Games series.

You explored the dataset books_hunger before reshaping it, but something was not right. The index of the DataFrame contains the title of the books. You know that you cannot reshape it in this format. If you do, you will lose valuable data, the title, so you'll need to make some changes before transforming the DataFrame.

The books_hunger dataset is available for you. It contains the title, and data about language, publication date, publication number, and page number of each book.

Modify the books_hunger DataFrame by resetting the index without dropping it.
Reshape books_hunger from wide to long format. Use the columns title and language as unique indexes. Name feature the new variable created from the columns that starts with publication and page. Those columns are separated by a blank space and end in a word.

In [ ]:
# Modify books_hunger by resetting the index without dropping it
books_hunger.reset_index(drop=False, inplace=True)

# Reshape using title and language as index, feature as new name, publication and page as prefix separated by space and ending in a word
print(books_hunger)
publication_features = pd.wide_to_long(books_hunger, 
                                       stubnames=['publication','page'], i=['title','language'],j='feature',sep=' ',suffix='\w+')

# Print publication_features
print(publication_features)

### Did you say dystopia?
Another day at work, another day working with your book project! You are very excited because you have been making a lot of progress. You plan to work on a dataset about dystopian fiction books.

But first, you need to do some string manipulations. You realize that the DataFrame index contains data about the title and the release year. You can't find a column with the author of the book, so you decide to pre-define a list of the writers. Then, you want to delete the year and replace it with the author.

You decide that splitting the index and then concatenating it with the list is the best way to do it.

The books_dys dataset and author_list are available for you. Make sure to examine it in the console!

i. Split the string separated by a hyphen contained in the index of books_dys. Assign it to the index.

In [ ]:
# Split the index of books_dys by the hyphen 
print(books_dys)
books_dys.index = books_dys.index.str.split('-')

# Print books_dys
print(books_dys)

ii. Now that you've split the index, get the first element and assign it to the index of books_dys.

In [ ]:
# Get the first element after splitting the index of books_dys
books_dys.index = books_dys.index.str.split('-').str.get(0)
print(books_dys.index)
# Print books_dys
print(books_dys)

iii. Concatenate the current index of books_dys with the pre-defined author_list, using a hyphen as a separating element. Assign it to the index.

In [ ]:
# Split by the hyphen the index of books_dys
print(author_list)
books_dys.index = books_dys.index.str.split('-').str.get(0)

# Concatenate the index with the list author_list separated by a hyphen
books_dys.index = books_dys.index.str.cat(author_list, sep='-')

# Print books_dys
print(books_dys)

### What's your rating, Harry?
You fix yourself a coffee and keep working on your book project. For your next task, you need to get an appropriate dataset containing ratings for all the Harry Potter books. You gathered data from Goodreads as well as from Amazon.

You realized that you need a long format, but the dataset hp_books is in a wide format. You want to melt the data, but first, you need to manipulate some of the string columns.

The full title is divided into two columns. The authors column contains info about the writer and the illustrator.

Ratings for the Harry Potter books are in the DataFrame hp_books. Make sure to examine it in the console!

i. Concatenate the title and subtitle columns into a column named full_title. Use the word 'and' separated by spaces as a separating element.

In [ ]:
# Concatenate the title and subtitle separated by "and" surrounded by spaces
hp_books['full_title'] = hp_books['title'].str.cat(hp_books['subtitle'], sep =' and ') 

# Print hp_books
print(hp_books)

ii. Split the authors column into two columns called writer and illustrator. Use the slash character / as the delimiter.

In [ ]:
# Concatenate the title and subtitle separated by "and" surrounded by spaces
hp_books['full_title'] = hp_books['title'].str.cat(hp_books['subtitle'], sep =" and ") 

# Split the authors into writer and illustrator columns
hp_books[['writer', 'illustrator']] = hp_books['authors'].str.split('/', expand=True) 

# Print hp_books
print(hp_books)

iii. Define a DataFrame hp_melt by melting the goodreads and amazon columns into a single column named source. Assign the name rating to the resulting value column. Use only the full title and the writer as identifier variables.

In [ ]:
# Concatenate the title and subtitle separated by "and" surrounded by spaces
hp_books['full_title'] = hp_books['title'].str.cat(hp_books['subtitle'], sep =" and ") 

# Split the authors into writer and illustrator columns
hp_books[['writer', 'illustrator']] = hp_books['authors'].str.split('/', expand=True)

# Melt goodreads and amazon columns into a single column
hp_melt = hp_books.melt(id_vars=['full_title','writer'], 
                        var_name='source', 
                        value_vars=['goodreads','amazon'], 
                        value_name='rating')

# Print hp_melt
print(hp_melt)

### Elementary, dear Watson!
It's Friday, and you are about to finish working on your book project. For your last task, you will analyze data about Arthur Conan Doyle's books.

You realize your dataset, books_sh, needs reshaping. You notice there are columns that can be grouped using a prefix. You identify the columns to use as unique IDs. However, some of these columns contain strings. They need some manipulation before applying a wide to long transformation. You decide some of the strings need splitting to make the DataFrame cleaner.

The books_sh dataset is available for you. It contains the title, and data about version, number_pages, and number_ratings of each book.

i. Split the main_title column into two columns called title and subtitle. Use a colon as the delimiter.

In [ ]:
# Split main_title by a colon and assign it to two columns named title and subtitle 
books_sh[['title', 'subtitle']] = books_sh['main_title'].str.split(':', expand=True)

# Print books_sh
print(books_sh)

ii. Split the string separated by a blank space contained in the version column. Assign the second element to a new column called volume.

In [ ]:
# Split main_title by a colon and assign it to two columns named title and subtitle 
books_sh[['title', 'subtitle']] = books_sh['main_title'].str.split(':', expand=True)

# Split version by a space and assign the second element to the column named volume 
books_sh['volume'] = books_sh['version'].str.split(' ').str.get(1)

# Print books_sh
print(books_sh)

iii. Drop the columns named main_title and version, modifying the books_sh DataFrame.

In [ ]:
# Split main_title by a colon and assign it to two columns named title and subtitle 
books_sh[['title', 'subtitle']] = books_sh['main_title'].str.split(':', expand=True)

# Split version by a space and assign the second element to the column named volume
books_sh['volume'] = books_sh['version'].str.split(' ').str.get(1)

# Drop the main_title and version columns modifying books_sh
books_sh.drop(['main_title', 'version'], axis=1, inplace=True)

# Print books_sh
print(books_sh)

iv. Reshape from wide to long using the title, subtitle, and volume as unique indexes. Use the name feature for the new variable created from the columns that start with number. The columns are separated by an underscore and end in a word.

In [ ]:
# Split main_title by a colon and assign it to two columns named title and subtitle 
books_sh[['title', 'subtitle']] = books_sh['main_title'].str.split(':', expand=True)

# Split version by a space and assign the second element to the column named volume 
books_sh['volume'] = books_sh['version'].str.split(' ').str.get(1)

# Drop the main_title and version columns modifying books_sh
books_sh.drop(['main_title', 'version'], axis=1, inplace=True)

# Reshape using title, subtitle and volume as index, name feature the new variable from columns starting with number, separated by undescore and ending in words 
sh_long = pd.wide_to_long(books_sh, stubnames='number', i=['title','subtitle', 'volume'], j='feature', sep='_', suffix='\w+')

# Print sh_long 
print(sh_long)